{{>paneltheme}}

<div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    

<!-- Authentication card start -->
                    <div class=" signup-card card-block auth-body mr-auto ml-auto">
                        <form class="md-float-material" action="/admin/updateSubject/:{{sub.subid}}" method="POST">
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class=" text-left text-primary">Edit Subject</h3>
                                    </div>
                                </div>
                                <hr/>
                                <div class="text-danger alert-danger"><h4><b>{{msg}}</b></h4></div><br>
                                <div class="input-group">
                                    <input type="text" name="subId" class="form-control"  value={{sub.subid}}>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subName" class="form-control" value={{sub.subname}}>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="courseId" class="form-control" value={{sub.cid}}>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="semId" class="form-control" value={{sub.sid}}>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-md waves-effect text-center m-b-20" value="Update">
                                    </div>
                                </div>
                                
                             
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
   
    </div>
    </div>
    </div>
    </div>
    </body>
    </html>