{{>paneltheme}}

<div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="card">
                                        <div class="login-card card-header">
                                            <h1>Student Details</h1>
                                            <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                        </div>
                                         <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table ">
                                                <tbody>
          <tr>
            <td>Enrollment No</td>
            <td>{{student.enroll}}</td>
          </tr>
          <tr>
            <td>Student Name</td>
            <td>{{student.name}}</td>
          </tr>
          <tr>
            <td>Student Address</td>
            <td>{{student.address}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{student.phone}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{student.email}}</td>
          </tr>
          </tbody>
         
        
          
        
       
                    
                    
                    
                    
                    
                    
</table>
</div>
</div>
</div>
</div>
</div>
</div>
