{{>paneltheme}}
<div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1>Faculty List</h1>
                                            <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li>        <li><i class="icofont icofont-error close-card"></i></li>    </ul></div>
                                        </div>
                                         <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table ">
                                                <thead>
          <tr>
            <th>ID</th>
            <th> Name</th>
            <th> Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
          </thead>
        {{# each staff}}
        <tbody>
                <tr>
                    <td>{{this.fid}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.email}}</td>
                    <td>
                        &nbsp;
                       <a href="/admin/editStaff/:{{this.fid}}"><i class="ti-pencil-alt text-primary"></i></a> &nbsp; 
                        <a href="/admin/adminStaffDelete/:{{this.fid}}" onclick="deleteAlert()"><i class="ti-trash text-danger"></i></a>&nbsp;
                        <a href="/admin/staffSingleView/:{{this.fid}}"><i class="ti-control-play text-success"></i></a>
                    </td>
                </tr>
                </tbody>
        {{/each}}     
</table>
</div>
</div>
</div>
</div>
</div>
</div>
